body {
    font-family: Arial Rounded MT, Bold, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(beige-watercolour-mountains-wallpaper-mural-Plain-820x532.webp) no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.header_section {
  background-color: none;
  font-family:"Microsoft Himalaya", serif;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.nav-item .nav-link{
  font-weight: bold; 
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 3px 15px;
  margin: 10px 15px;
  font-size: 30px;
  color: #54290E;
  text-align: center;
  text-transform: uppercase;
  
}

.about {
  display: inline-block;
  padding: 10px 20px;
  background-color: none;
  color: #ffffff;
  border-radius: 0;
  border: 3px solid #54290E;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-radius: 999px;  
    
  font-size: 20px;
  font-weight: bold;
  
  
}

.about:hover {
  background-color: #54290E;  
  color: white;
  
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.logoA{
  width: 84.72px;
  height: 51px;
}

.nav-link{
    margin-top: 40px;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}



.navbar-brand span {
  font-size: 24px;
  font-weight: 700;
  color: #54290E;
  text-transform: uppercase;

}

.custom_nav-container {
  z-index: 99999;
  padding: 5px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 32px;
  height: 4px;
  background-color: #54290E;
  border-radius: 15px;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  transition: all 0.3s;

}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #54290E;
  border-radius: 15px;
  top: -10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
  
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.quote_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.quote_btn-container a {
  color: #54290E;
  margin-right: 25px;
  text-transform: uppercase;
}

.quote_btn-container a span {
  margin-right: 5px;
}

/*end header section*/

.contact-container {
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    margin-top: 150px;
    background-color:rgba(176,147,119,0.6);
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #53280d;
    font-size: 45px;
}
h2{
    text-align: center;
    margin-bottom: 20px;
    color: #53280d;
    font-size: 29px;
    margin-left: 10px;
}
h4{
   text-align: center;
    margin-bottom: 40px;
    color: #53280d;
    font-size: 23px;
    font-family: Bell-MT, serif; 
    margin-left: 20px;
    font-weight: 100;
    margin-top: 10px;
}
p {
    text-align: center;
    margin-bottom: 40px;
    color: #53280d;
    font-size: 23px;
    font-family: Bell-MT, serif;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-info {
    max-width: 30%;
}

.contact-info p {
    margin: 20px 0;
}

.send-message {
    flex: 1;
    margin-left: 200px;
    background-color: floralwhite;
    color: #000;
    padding: 20px;
    border-radius: 10px;
}


.send-message h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction:column;
}

form label {
    margin-top: 10px;
    font-weight: bold;
    color: #885f47;
}

form input, form textarea {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial Rounded MT, Bold, sans-serif;
}

form textarea {
    resize: vertical;
}

form button {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    background-color: #b09377;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #53280d; 
    font-family: Arial Rounded MT, Bold, sans-serif;
}

form button:hover {
    background-color: #53280d;
    color: #d3bfa7;
}

